version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'monday'
      time: '09:00'
      timezone: 'America/Sao_Paulo'
    open-pull-requests-limit: 10
    commit-message:
      prefix: 'chore(deps)'
    labels:
      - 'dependencies'
      - 'automated'
    reviewers:
      - 'ESousa97'
    groups:
      storybook:
        patterns:
          - '@storybook/*'
          - 'storybook'
          - '@chromatic-com/*'
        update-types:
          - 'minor'
          - 'patch'
      react:
        patterns:
          - 'react'
          - 'react-dom'
          - '@types/react'
          - '@types/react-dom'
      next:
        patterns:
          - 'next'
          - 'eslint-config-next'
          - '@next/*'
      dev-dependencies:
        dependency-type: 'development'
        update-types:
          - 'minor'
          - 'patch'

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
    commit-message:
      prefix: 'chore(ci)'
    labels:
      - 'ci'
      - 'automated'
